# Environment files
.env
.env.local
.env.*.local

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
remote-executor-client-linux
remote-executor-server-linux
remote-executor-client.exe

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Debug files
__debug_bin
